h1{
    text-align: center;
    font-size: 85px;
}
body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg)center no-repeat;
    background-size: cover;
    font-family: 'Merienda', cursive;
    height:100vh;
    
    }
.login{
    width: 420px;
    height: 320px;
    background:hsl(197, 39%, 83%);
    color:#204282;
    top: 250px;
    left: 34%;
    bottom: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
}
.logo{
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin-bottom: -20px;
    -webkit-transform: rotate(45deg);
}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
   
}
.login input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    font-family:'Merienda', cursive;
}
.login button{
    width: 100%;
    margin-top: 20px;
    border: 3px solid #ffffff;
    background: #204282;
    height: 42px;
    color: #ffffff;
    font-size: 16px;
    font-family:'Merienda', cursive;
}
.mensaje{
    width: 700px;
    height: 320px;
    background:hsl(197, 39%, 83%);
    color:#7094d6;
    top: 250px;
    left: 24%;
    bottom: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
}
.resultado{
    width: 700px;
    height: 320px;
    background:hsl(197, 39%, 83%);
    color:#204282;
    top: 250px;
    left: 34%;
    bottom: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
}
textarea{
    background: white;
    border-radius: 10px 10px 10px 10px;
    border-style: none solid solid none;
    padding: 15px 15px;
}
.hide{
    display: none;
}
footer{
    text-align: -webkit-right;
    margin-top: 590px;
    color: #021d31;
}