h1{
    text-align: center;
    font-size: 85px;
}
body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg)center no-repeat;
    background-size: cover;
    font-family: 'Merienda', cursive;
    height:100vh;    
    }
.login{
    width: 420px;
    height: 320px;
    background:#4ae87a66;
    color:#204282;
    top: 250px;
    left: 34%;
    bottom: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
}
.logo{
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin-bottom: -20px;
    -webkit-transform: rotate(45deg);
}
.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;  
}
.login input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#049871;
    font-size: 16px;
    font-family:'Merienda', cursive;
}
.login button{
    width: 100%;
    margin-top: 20px;
    border: 3px solid #ffffff;
    height: 42px;
    color: #ffffff;
    font-size: 16px;
    font-family:'Merienda', cursive;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 30ms;
}
.login button:hover{
    transform: translate(10px);
    box-shadow: 0px 30px 5px -15px rgba(4, 17, 17, 0.3);
}
input{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    color: #021d31;
    font-size: 16px;
    font-family:'Merienda', cursive;
    display: inline-block;
    padding-left: 10px;
}
.mensaje{
    height: 320px;
    background: #8079de59;
    width: 650px;
    color:#204282;
    top: 250px;
    left: 26%;
    bottom: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
}
.btn{
    border: 3px solid #ffffff;
    height: 42px;
    margin: 8px;
    color: #ffffff;
    font-size: 16px;
    font-family:'Merienda', cursive;
    border-radius: 10px;
    float: RIGHT;
    width: calc(53% - 180px);
    background-image: linear-gradient(132deg, #4543d4 0%, #84de79 100%);
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn:hover{
    color: #010117;
}
.mensaje p{
    display: inline-block;
    margin-left: 50px;
    COLOR: antiquewhite;
}
.resultado{
    height: 320px;
    background-image: linear-gradient(132deg, #ab2518 0%, #3966e48c 100%);
    width: 700px;
    top: 250px;
    left: 25%;
    bottom: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
}
textarea{
    background: white;
    border-radius: 10px 10px 10px 10px;
    border-style: none solid solid none;
    padding: 15px 15px;
    font-family: 'Merienda', cursive;
    float: left;  
}
.hide{
    display: none;
}
.boton{
    border: 3px solid #ffffff;
    height: 42px;
    margin: 8px;
    color: #ffffff;
    font-size: 16px;
    font-family:'Merienda', cursive;
    border-radius: 10px;
    float: RIGHT;
    width: calc(53% - 180px);
    background-image: linear-gradient(132deg, #bd072885 0%, #005c99 100%);
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.boton:hover{
    outline: none;
    transform: translate(10px);
    box-shadow: 0px 30px 5px -15px rgba(4, 17, 17, 0.3);
}
footer{
    text-align: -webkit-right;
    margin-top: 590px;
    color: #021d31;
}